
__pycache__/
*.py[cod]
*$py.class


*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
local_settings.py
.env


*/migrations/__pycache__/
*/migrations/*.pyc


.env



